mixin section-title(title, text, icon)
   .section-title
       .title
           h2= title
           .underlines
               .line
               i.fa(class="fa-"+ icon)
               .line
       .subtitle
           p= text
